@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: 'url("/asset/font/OpenSans.ttf") format("opensans")';
}
